---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */

:root {
--sidebar-bg: radial-gradient(
    circle,
    rgba(45, 45, 45, 1) 0%,
    rgba(26, 26, 26, 1) 100%);
}

.pagination .page-item.active .page-link {
  background-color: #454545;
  border-color: #8a8a8a;
  box-shadow: #b1b1b1;
}

html[mode=dark]  h1 a {
  color: gainsboro;
}
