---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

  /* 
    Custom Styles
  */

/* Round Post Navigation Buttons */
html:not([mode]), html[mode=light] {
  --sidebar-bg: radial-gradient(
    circle,
    #727272 0%,
    #4b4b4b 100%);
  --btn-paginator-shadow: #bbbbbb;
  --btn-active-bg: #727272;
  --btn-active-border-color: #4b4b4b;
}
html[mode=dark] {
  --sidebar-bg: radial-gradient(
    circle,
    #1d1d1d 0%,
    #000000 100%);
  --btn-paginator-shadow: #bbbbbb;
  --btn-active-bg: #727272;
  --btn-paginator-border-color: #8a8a8a;
}

/* Sidebar Navigation */
html:not([mode]), html[mode=light] #sidebar {
  color: #d0d0d0;
}
@media (min-width: 1000px) {
  #sidebar {
    width: 260px;
  }
  #sidebar ul .nav-item .nav-link>i.unloaded {
    display: inline-block !important;
  }
  #sidebar ul {
    padding-left: 1.5rem;
  }
  #sidebar ul .nav-item .nav-link>i {
    border: 1px solid;
    border-radius: 50%;
    width: 1.65rem;
    height: 1.65rem;
    line-height: 1.5rem;
    font-size: 0.6rem;
    padding-top: 1px;
    padding-left: 1px;
    position: relative;
    bottom: 1px;
  }
}




/* Round Post Navigation Buttons */
html:not([mode]), html[mode=light] .pagination .page-item.active .page-link {
  background-color: #454545;
  border-color: #8a8a8a;
}
html[mode=dark] .pagination .page-item.active .page-link {
  background-color: #dcdcdc;
  border-color: #8a8a8a;
  color: #454545;
}

/* Post Overview */
html #search-results a, .post-content a:not(.img-link), .post-meta a, a {
  color: #aa2222;
}
// html[mode=dark] #search-results a, .post-content a:not(.img-link), .post-meta a, a {
//   color: #dcdcdc;
// }
// html:not([mode]), html[mode=light] #search-results a, .post-content a:not(.img-link), .post-meta a, a {
//   color: #727272;
// }
