---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */


html:not([mode]), html[mode=light] {
  --sidebar-bg: radial-gradient(
      circle,
      #727272 0%,
      #4b4b4b 100%);
  --btn-paginator-shadow: #bbbbbb;
}

html:not([mode]), html[mode=light] h1 > a {
  color: #656565;
}

html[mode=dark] {
--sidebar-bg: radial-gradient(
    circle,
    #363636 0%,
    #000000 100%);
}

html[mode=dark] h1 > a {
  color: gainsboro;
}

.pagination .page-item.active .page-link {
  background-color: #454545;
  border-color: #8a8a8a;
  box-shadow: #b1b1b1;
}
